<script type="text/javascript">

  // var _URL = window.URL;
  // var error_val = "";
	  // var img;
    // img = new Image();
    // img.onload = function () {
    //   if (this.height < 300 || this.width < 600 || this.height > 600 || this.width > 1200) {
    //     $("#cover_error_div").addClass("alert alert-error");
    //     $("#cover_error_div").empty();
    //     $("#cover_error_div").append("<p>File should be greater than height: 470px;
    // width: 900px; 600px wide & 300px height. height: 240px;
    // width: 210px;</p>");
    //     error_val = 1;
    //   }else{
    //   error_val = "";
    //   }
    // };
    // img.src = _URL.createObjectURL(file);
    
    // if($("#user_image_cover_picture").val() != ""){
    //   cover_error(cover_file, evt);
    //   if (error_val != ""){
    //     evt.preventDefault();
    //   }
    // }
</script>